img.image100 {
  max-width: 600px;
  max-height: 600px;
}

a {
    text-decoration: none;
    color: black;
}

.react-confirm-alert-button-group>button.red-button {
    background-color: darkred;
}

tr.color-on-hover:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

div#app {
    background-color: aliceblue;
}

div.dropzone:hover {
    cursor: pointer;
}

thead.MuiTableHead-root, tfoot.MuiTableFooter-root {
  background-color: lavender;
}

th.MuiTableCell-head {
  font-weight: bold;
}
